
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --


[color]
  ui = true


[user]
  name = chao-yu
  email =chao.yu@gree.co.jp


[core]
  pager = lv -c
  excludesfile = /home/chao-yu/.gitignore
  quotepath = false


[branch "master"]
  remote = origin
  merge = refs/heads/master


[branch "develop"]
  remote = origin
  merge = refs/heads/develop
